
<% @campgrounds.each do |camp| %>
<div data-component="media-object" class="clearfix">
	<% if camp.first.pic_url == "/images/nophoto.jpg" %>
	<img src="http://i.imgur.com/A2rAqMT.jpg" class="left mr2 w280">
	<%else%>
	<img src="http://www.reserveamerica.com<%= camp.first.pic_url%>" class="left mr2 w280">
	<%end%>
	<div class="oh">
		<div> Name: <%= camp.first.name %> </div>
		<div> State: <%= camp.first.state %> </div>
		<div> Pets?: <%= camp.first.pets %> </div>
		<div> Water Front: <%= camp.first.water_front %> </div>
		<%if session[:id]%>
		<button> <a href="/add_fav/campgrounds/<%=camp.first.park_num%>" class="add_fav">Add to Favorites</a> </button>
		<br>
		<%end%>
		<hr>
	</div>
</div>
<%end%>
