
<% @campgrounds.each do |camp| %>
<div data-component="media-object" class="clearfix">
	<% if camp.first.pic_url == "/images/nophoto.jpg" %>
	<img src="https://raw.githubusercontent.com/chorus-frogs-2014/ph2-p10a-build-something-beautiful-challenge/matias/source/polyscape%20copy.jpeg?token=6801325__eyJzY29wZSI6IlJhd0Jsb2I6Y2hvcnVzLWZyb2dzLTIwMTQvcGgyLXAxMGEtYnVpbGQtc29tZXRoaW5nLWJlYXV0aWZ1bC1jaGFsbGVuZ2UvbWF0aWFzL3NvdXJjZS9wb2x5c2NhcGUgY29weS5qcGVnIiwiZXhwaXJlcyI6MTQwNTU4OTY5NX0%3D--46564390806632ab6249c43d3e4f908fb52cf7d3" class="left mr2 w280">
	<%else%>
	<img src="http://www.reserveamerica.com<%= camp.first.pic_url%>" class="left mr2 w280">
	<%end%>
	<div class="oh">
		<div> Name: <%= camp.first.name %> </div>
		<div> State: <%= camp.first.state %> </div>
		<div> Pets?: <%= camp.first.pets %> </div>
		<div> Water Front: <%= camp.first.water_front %> </div>
		<%if session[:id]%>
		<form action="/add_fav" method="post" class="add_fav">
			<input type="hidden" name="park_num" value="<%=camp.first.park_num%>">
			<input type="submit" name="add_fav" value="Add to Favorites">
		</form>
		<%end%>
		<br>
		<hr>
	</div>


</div>
<%end%>
